body {
  margin: 0;
}

h1 {
  font-family: 'forma-djr-micro', sans-serif;
  font-weight: 600;
  letter-spacing: 0.2rem;
}

h1,
h2 {
  color: rgba(255, 255, 255, 0.8);
  margin: 0.5rem 0;
}

h2,
h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 25px;
  text-decoration: underline;
  margin-top: 1.3rem;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

h4:hover {
  color: #BF1F37;
}

a {
  text-decoration: none;
}

p {
  color: rgba(255, 255, 255, 0.8);
  font-family: 'Open Sans', sans-serif;
  line-height: 2rem;
  font-size: 1.1rem;
  text-align: justify;
  text-align-last: center;
}

button {
  background-color: #691414;
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 1px;
  margin: 0.5rem 0 0;
  cursor: pointer !important;
}

button p {
  color: white;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 600;
}

button:hover {
  background-color: black;
}

button:hover p {
  color: #BF1F37;
}

.heading-lightred {
  color: #DE455D;
}

.heading-darkred {
  color: #BF1F37;
}

@media (max-width: 420px) {
  button {
    padding: 0 1rem;
  }
  p {
    font-size: 15px;
  }
}

.mobile-header {
  display: none;
}

.header {
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  transition: top 0.3s;
}

.header .logo {
  width: 4rem;
  margin: 2rem 3rem 2rem 2em;
}

.header li {
  display: flex;
  align-items: center;
  list-style-type: none;
  background-color: #1a1a1a;
  height: 3rem;
  margin: 0 0 0 1rem;
}

.header li:hover {
  background-color: black;
}

.header li:nth-child(2),
.header li:nth-child(4) {
  background-color: #242424;
}

.header li:nth-child(2):hover,
.header li:nth-child(4):hover {
  background-color: black;
}

.header a {
  font-family: 'Open Sans', sans-serif;
  color: #d4d4d4;
  margin: 1rem 1.5rem;
  cursor: pointer !important;
  font-weight: 600;
}

.header .fa-envelope,
.header .fa-github {
  color: white;
  cursor: pointer;
}

.header .fa-envelope:hover,
.header .fa-github:hover {
  color: #BF1F37;
}

.header .fa-envelope {
  padding: 0 2rem 0 1rem;
}

.header a:hover {
  color: #BF1F37;
}

.header .nav-links {
  display: flex;
  align-items: center;
}

.header .nav-list {
  display: flex;
}

.nav-mobile-display,
.nav-mobile-menu {
  display: none;
}

.nav-mobile {
  display: none;
}

@media (max-width: 420px) {
  .header .nav-mobile {
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: #d64d4d;
    background: linear-gradient(180deg, #d64d4d 0%, #d43f3f 100%);
  }
  .header .nav-mobile .logo {
    display: none;
  }
  .header .nav-mobile .mobile-logo {
    display: flex;
    width: 3.5rem;
    padding: 0.8rem 1rem;
    margin: 0;
  }
  .header .nav-mobile .toggle-nav,
  .header .nav-mobile .close-nav {
    padding-right: 1rem;
  }
}

@media (max-width: 1050px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .header .logo {
    margin: 2rem 4rem;
  }
  .header .mobile-logo {
    display: none;
  }
  .header .nav-links {
    display: none;
  }
  .header .nav-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .header .toggle-nav,
  .header .close-nav {
    font-size: 2rem;
    cursor: pointer !important;
    padding-right: 2rem;
  }
  .header .toggle-nav {
    display: flex;
  }
  .header .close-nav {
    display: none;
  }
  .header .nav-mobile-display {
    display: flex;
  }
  .header .nav-mobile-menu {
    display: none;
    flex-direction: column;
    background-color: none;
    position: fixed;
    z-index: 10;
    width: 100%;
    text-align: center;
  }
  .header .nav-mobile-menu ul {
    margin: 0;
    padding: 0;
  }
  .header .nav-mobile-menu li {
    list-style-type: none;
    padding: 0.5rem;
    background-color: #1a1a1a;
  }
  .header .nav-mobile-menu li:hover {
    background-color: #444444;
  }
  .header .nav-mobile-menu li:nth-child(2),
  .header .nav-mobile-menu li:nth-child(4) {
    background-color: #151515;
  }
  .header .nav-mobile-menu li:nth-child(2):hover,
  .header .nav-mobile-menu li:nth-child(4):hover {
    background-color: #444444;
  }
  .header .nav-mobile-menu a {
    color: white;
    font-family: 'Open Sans', sans-serif;
  }
}

@media (max-width: 750px) {
  .header {
    justify-content: flex-start;
  }
  .header .logo {
    margin: 2rem 2rem 2rem 4rem;
  }
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #121212;
  background: linear-gradient(180deg, #121212 45%, #2a2a2a 100%);
  position: relative;
}

.intro h1 {
  font-size: 5.5rem;
}

.intro h2 {
  font-family: 'scriptorama-markdown-jf', sans-serif;
  font-size: 2.5rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  color: #d6d6d6;
}

.intro .intro-text-mobile {
  display: none;
}

@media (max-width: 1350px) {
  .intro h1 {
    font-size: 4rem;
  }
  .intro h2 {
    font-size: 2.5rem;
  }
}

@media (max-width: 1050px) {
  .intro h1 {
    font-size: 3rem;
  }
  .intro h2 {
    font-size: 2.5rem;
  }
}

@media (max-width: 750px) {
  .intro h1 {
    font-size: 2.5rem;
  }
  .intro h2 {
    font-size: 2rem;
  }
}

@media (max-width: 420px) {
  .intro {
    display: block;
    margin: 0;
    padding-left: 0;
    height: 90vh;
  }
  .intro .intro-text {
    display: none;
  }
  .intro .intro-text-mobile {
    display: block;
    padding: 11rem 0 2rem 0;
  }
  .intro .intro-text-mobile .medium-heading,
  .intro .intro-text-mobile .large-heading {
    margin: 0;
  }
  .intro .intro-text-mobile .medium-heading {
    margin: 0;
    font-size: 2.5rem;
  }
  .intro .intro-text-mobile .large-heading {
    font-size: 6rem;
  }
  .intro h1 {
    text-align: center;
  }
  .intro h2 {
    text-align: center;
    margin: 0;
  }
}

.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  background: #d64d4d;
  background: linear-gradient(180deg, #d64d4d 0%, #d43f3f 100%);
  padding: 6rem 0;
}

.about-section h1 {
  font-size: 3rem;
  padding: 0;
  margin: 0;
  color: white;
  font-weight: 700;
}

.about-section h2 {
  font-family: 'scriptorama-markdown-jf', sans-serif;
  color: #691414;
  font-size: 2rem;
  padding: 1rem 0;
}

.about-section .profile-pic {
  width: 16rem;
  border-radius: 500px;
  padding: 1rem;
}

.about-section .about-me {
  margin: 2rem 0 0;
}

.about-section .about-text {
  margin: 0 20rem;
  padding: 2rem 0;
}

.about-section .contact-show {
  display: flex;
  cursor: pointer !important;
}

.about-section .contact-hide {
  display: none;
  cursor: pointer !important;
}

.about-section .contact-details {
  display: none;
  flex-direction: column;
}

.about-section p {
  margin: 0;
  padding: 0;
  letter-spacing: 0.05rem;
}

@media (max-width: 1050px) {
  .about-section h1 {
    font-size: 2rem;
  }
  .about-section h2 {
    font-size: 1.2rem;
  }
  .about-section .about-text {
    margin: 0 5rem;
  }
}

@media (max-width: 420px) {
  .about-section {
    padding: 3rem 0;
    margin: 0;
  }
  .about-section h1 {
    font-size: 2.5rem;
    padding: 0;
  }
  .about-section h2 {
    font-size: 1.5rem;
    padding: 0;
  }
  .about-section p {
    padding: 0.5rem 0;
    letter-spacing: 0;
    text-align: justify;
  }
  .about-section .profile-pic {
    width: 12rem;
  }
  .about-section .about-me {
    margin: 1rem;
  }
  .about-section .about-text {
    padding: 0;
    margin: 1rem 2rem;
  }
}

.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 6rem 0;
  background: #121212;
  background: linear-gradient(175deg, #181818 0%, #121212 65%, #262626 100%);
}

.services h1 {
  margin: 1rem;
  font-size: 40px;
  padding: 0 0 1rem;
}

.services h3 {
  color: rgba(228, 228, 228, 0.8);
  font-family: 'scriptorama-markdown-jf', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}

.services .services-content {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 0 5rem;
  padding: 0;
}

.services .services-content .service-image {
  width: 14rem;
}

.services .services-content .image-phone {
  height: 14rem;
}

.services .services-content h3 {
  padding: 1rem 0;
}

.services .services-content h3,
.services .services-content p {
  margin: 0;
}

.services .services-container {
  width: 33.3%;
}

.services .service-bg-1,
.services .service-bg-2,
.services .service-bg-3 {
  padding: 2rem;
}

@keyframes bounce {
  0%,
  20%,
  60%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  80% {
    transform: translateY(-10px);
  }
}

.services .service-bg-1:hover,
.services .service-bg-2:hover,
.services .service-bg-3:hover {
  animation: bounce 1s;
}

.services .fa-4x {
  color: #1b1b1b;
  margin-bottom: 0.5rem;
}

@media (max-width: 420px) {
  .services {
    padding: 3rem 0;
  }
  .services .services-content {
    flex-direction: column;
    align-items: center;
    margin: 0;
    text-align: center;
    padding: 1rem 1.5rem;
  }
  .services .services-content .services-container {
    width: 100%;
    padding: 1rem;
  }
  .services .services-content h1 {
    padding: 1rem 0;
    font-size: 1.7rem;
  }
  .services .services-content h3 {
    padding: 1rem 0 0.5rem;
    font-size: 1.3rem;
  }
  .services .services-content p {
    text-align: justify;
    letter-spacing: 0;
    padding: 0.5rem;
  }
  .services .services-content .service-image {
    width: 10rem;
  }
}

.projects-section {
  text-align: center;
}

@media (max-width: 1050px) {
  .projects-section .projects {
    grid-template-columns: 100%;
  }
}

@media (max-width: 420px) {
  .projects-section .projects {
    padding: 0 0 2rem;
  }
}

.projects-section .projects .top-padding {
  padding: 5rem 0 2rem !important;
}

.projects-section .projects .background-second {
  background-color: lightgray;
}

.projects-section .projects .project-CC {
  background-image: url("assets/bg-image-CC.jpg");
  background-size: cover;
}

.projects-section .projects .project-BE {
  background-image: url("assets/bg-image-BE.jpg");
  background-size: cover;
}

.projects-section .projects .project-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  height: 100vh;
}

@media (max-width: 420px) {
  .projects-section .projects .project-grid {
    margin: 0;
    padding: 1rem;
    height: 50vh;
  }
}

.projects-section .projects .project-grid h1 {
  font-size: 2rem;
  font-weight: 500;
  font-family: 'forma-djr-micro', sans-serif;
  padding: 1rem 0 0.5rem;
  color: black;
}

.projects-section .projects .project-grid h2 {
  margin: 0;
  font-size: 1.2rem;
  font-family: 'scriptorama-markdown-jf', sans-serif;
  font-weight: 400;
  color: #D64D4D;
}

.projects-section .projects .project-grid p {
  color: white;
}

.projects-section .projects .project-grid .project-image-container .cc-image {
  width: 60rem;
}

@media (max-width: 420px) {
  .projects-section .projects .project-grid .project-image-container img,
  .projects-section .projects .project-grid .project-image-container .cc-image {
    width: 20rem;
  }
}

.projects-section .projects .project-grid:hover,
.projects-section .projects .project-CC:hover {
  background-image: none;
  background-color: #D64D4D;
  transition: 0.6s !important;
}

.projects-section .projects .project-grid:hover h1,
.projects-section .projects .project-CC:hover h1 {
  color: white;
}

.projects-section .projects .project-grid:hover h2,
.projects-section .projects .project-CC:hover h2 {
  color: white;
}

.projects-section .projects .project-image {
  width: 50rem;
}

@media (max-width: 420px) {
  .projects-section .projects .bottom-padding {
    margin: 0 0 1rem;
  }
}

.footer {
  text-align: center;
  background-color: #242424;
  padding: 1rem;
}

.footer .logo {
  width: 4rem;
  padding-right: 1rem;
}

.footer img {
  width: 8rem;
}

.footer p {
  color: white;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

.footer h2 {
  margin: 1rem 0 0;
}
/*# sourceMappingURL=style.css.map */