body {
  margin: 0;
  background-color: #202020;
  height: 100%;
}

h1 {
  font-family: bree, sans-serif;
  font-weight: 600;
  letter-spacing: 0.2rem;
}

h1,
h2 {
  color: white;
  margin: 0.5rem 0;
}

h2 {
  font-family: bree, sans-serif;
  font-weight: 300;
}

h4 {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

p {
  font-family: 'Open Sans', sans-serif;
}

.introduction {
  font-size: 0.8rem;
}

.heading-lightred {
  color: #DE455D;
}

.heading-darkred {
  color: #BF1F37;
}

.heading-dark {
  color: black;
}

.headroom {
  will-change: transform;
  transition: transform 200ms linear;
}

.headroom--pinned {
  transform: translateY(0%);
}

.headroom--unpinned {
  transform: translateY(-100%);
}

.header {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: flex-end;
  background-color: rgba(32, 32, 32, 0.5);
  z-index: 99;
  align-items: center;
  width: 100%;
}

@media (max-width: 750px) {
  .header {
    justify-content: flex-start;
  }
}

.header .logo {
  width: 6rem;
  margin: 2rem 3rem;
}

@media (max-width: 1050px) {
  .header .logo {
    margin: 2rem 4rem;
  }
}

@media (max-width: 750px) {
  .header .logo {
    margin: 2rem 2rem 2rem 4rem;
  }
}

.header li {
  list-style-type: none;
}

.header a {
  font-family: 'Open Sans', sans-serif;
  color: white;
  margin: 1rem 1.5rem;
  cursor: pointer;
}

@media (max-width: 420px) {
  .header a {
    margin: 0;
  }
}

.header a:hover {
  color: #BF1F37;
}

.header .nav-links {
  display: block;
}

@media (max-width: 1050px) {
  .header .nav-links {
    margin: 2rem 4rem;
  }
}

@media (max-width: 750px) {
  .header .nav-links {
    margin: 2rem 4rem 2rem 0;
  }
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 8rem;
  height: 100vh;
  position: relative;
  top: 60px;
  background-color: #202020;
}

@media (max-width: 420px) {
  .intro {
    margin: 2rem;
  }
}

.intro h1 {
  font-size: 5.5rem;
}

@media (max-width: 1050px) {
  .intro h1 {
    font-size: 3rem;
  }
}

@media (max-width: 420px) {
  .intro h1 {
    font-size: 2.5rem;
  }
}

.intro h2 {
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  color: #d6d6d6;
}

@media (max-width: 1050px) {
  .intro h2 {
    font-size: 2.5rem;
  }
}

@media (max-width: 420px) {
  .intro h2 {
    font-size: 1.8rem;
  }
}

.intro .background-position {
  position: relative;
  z-index: -1;
  top: -650px;
}

.intro .image-behind {
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: -1;
  left: 0;
}

@media (max-width: 420px) {
  .intro .image-behind img {
    width: 100%;
  }
}

.intro .intro-text h2 {
  display: block;
  z-index: 5;
  position: relative;
  height: 0rem;
  padding: 0 0 2rem 0;
}

.intro .heading-text h1 {
  display: block;
  z-index: 6;
  position: relative;
  padding: 0 0 3rem 0;
}

.intro .art {
  width: 80rem;
  opacity: 1;
}

.line {
  width: 20rem;
  border: 2px solid white;
  margin-left: 7rem;
}

.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #D64D4D;
}

@media (max-width: 420px) {
  .about-section {
    margin: 0 2rem;
    padding: 2rem 0;
  }
}

.about-section h1 {
  font-size: 3rem;
  padding: 8rem 0 1rem;
  color: white;
}

@media (max-width: 1050px) {
  .about-section h1 {
    font-size: 2rem;
  }
}

@media (max-width: 1050px) {
  .about-section h2 {
    font-size: 1.2rem;
  }
}

.about-section p {
  color: white;
  font-family: 'Open Sans', sans-serif;
  padding: 2rem 10rem;
}

.about-section .profile-pic {
  width: 15rem;
  border-radius: 150px;
}

.about-section .about-me {
  margin: 2rem 0;
}

.about-section .contact-icons {
  display: flex;
  padding-bottom: 5rem;
}

.about-section .contact-icons .fa-linkedin {
  color: white;
  padding: 0 0.5rem 2rem;
}

.about-section .contact-icons .fa-linkedin:hover {
  color: black;
}

.about-section .contact-icons .fa-envelope-square {
  color: white;
  padding: 0 0.5rem 2rem;
}

.about-section .contact-icons .fa-envelope-square:hover {
  color: black;
}

.skills {
  background-color: #BF1F37;
  text-align: center;
}

.skills h1 {
  font-size: 3rem;
  padding: 8rem 0 1rem;
  margin: 0;
}

.skills .icon-grid {
  display: grid;
  text-align: center;
  padding: 5rem 0 15rem 0;
  margin: 0 20rem;
  grid-template-rows: 50% 50%;
  grid-template-columns: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
}

.skills .icon-container {
  padding: 2rem 0;
}

.projects-section {
  background: #2a2a2a;
  background: linear-gradient(180deg, #2a2a2a 0%, #252525 100%);
  text-align: center;
}

.projects-section h1 {
  font-size: 4rem;
  padding-top: 5rem;
  margin: 0;
}

@media (max-width: 1050px) {
  .projects-section .projects {
    grid-template-columns: 100%;
  }
}

@media (max-width: 420px) {
  .projects-section .projects {
    padding: 2rem 0;
  }
}

.projects-section .projects .project-grid {
  display: block;
  margin: 2rem 0;
  padding: 2rem;
}

@media (max-width: 420px) {
  .projects-section .projects .project-grid {
    margin: 1rem;
    padding: 1rem;
  }
}

.projects-section .projects .project-grid h1 {
  font-size: 2rem;
  font-weight: 400;
  padding: 1rem 0 0.5rem;
  color: #DE455D;
}

.projects-section .projects .project-grid h2 {
  margin: 0;
  font-size: 1.2rem;
  color: #BF1F37;
}

.projects-section .projects .project-grid p {
  color: white;
}

.projects-section .projects .project-grid:hover {
  background-color: #BF1F37;
}

.projects-section .projects .project-grid:hover h1,
.projects-section .projects .project-grid:hover h2 {
  color: black;
}

.projects-section .projects .project-image {
  width: 20rem;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding: 2rem;
}

.footer .logo {
  width: 5rem;
}

.footer img {
  width: 8rem;
}

.footer p {
  color: white;
  font-family: 'Open Sans', sans-serif;
}

.footer h2 {
  margin: 1rem 0 0;
}

.footer .github {
  background-color: black;
}

h4 {
  font-weight: bold;
  margin-top: 2rem;
  color: #DE455D;
  border-radius: 5px;
  cursor: pointer;
}

h4:hover {
  color: white;
}

.github:hover {
  color: white;
}
/*# sourceMappingURL=style.css.map */