$mobile-width: 420px;
$tablet-small-width: 750px;
$tablet-width: 1050px;
$desktop-width: 1024px;

@mixin desktop {
    @media (max-width: #{$desktop-width}) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: #{$tablet-width}) {
        @content;
    }
}

@mixin tablet-small {
    @media (max-width: #{$tablet-small-width}) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: #{$mobile-width}) {
        @content;
    }
}

// SASS VARIABLES

$lightRed: #DE455D;
$darkRed: #BF1F37;

// GLOBAL

body {
    margin: 0;
    background-color: #1b1b1b;
    height: 100%;
}

h1,
h2 {
    color: white;
    font-family: 'Poppins', sans-serif;
    margin: 0.5rem 0;
}

h2 {
    font-weight: 300;
}

a {
    text-decoration: none;
}

p {
    font-family: 'Open Sans', sans-serif;
}

.heading-lightred {
    color: $lightRed;
}

.heading-darkred {
    color: $darkRed;
}

.navbar {
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: 99;
    align-items: center;
    width: 100%;

    @include tablet-small {
        justify-content: flex-start;
    }

    .logo {
        width: 8rem;
        margin: 1rem 2rem;

        @include tablet {
            margin: 2rem 4rem;
        }

        @include tablet-small {
            margin: 2rem 2rem 2rem 4rem;
        }
    }

    li {
        list-style-type: none;
    }

    a {
        font-family: 'Open Sans', sans-serif;
        color: white;
        margin: 1rem 1.5rem;
        cursor: pointer;

        @include mobile {
            margin: 0;
        }
    }

    a:hover {
        color: $darkRed;
    }

    .nav-links {
        display: block;
        margin-right: 0.5rem;

        @include tablet {
            margin: 2rem 4rem;
        }

        @include tablet-small {
            margin: 2rem 4rem 2rem 0;
        }
    }
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 8rem;
    height: 100vh;
    position: relative;

    @include mobile {
        margin: 2rem;
    }

    h1 {
        font-size: 5rem;

        @include tablet {
            font-size: 3rem;
        }

        @include mobile {
            font-size: 2.5rem;
        }
    }

    h2 {
        font-size: 4rem;

        @include tablet {
            font-size: 2.5rem;
        }

        @include mobile {
            font-size: 1.8rem;
        }
    }

    .image-behind {
        display: flex;
        justify-content: center;
        position: absolute;
        z-index: -1;
        top: 10;
        left: 0;
        opacity: 0.1;

        img {
            @include mobile {
                width: 100%;
            }
        }
    }
}

.projects {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50% 50;
    background: rgb(219, 76, 76);
    background: linear-gradient(180deg, rgba(219, 76, 76, 1) 28%, rgba(255, 164, 164, 1) 100%);

    @include tablet {
        grid-template-columns: 100%;
    }

    @include mobile {
        padding: 2rem 0;
    }

    .project-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2rem;
        padding: 2rem;

        @include mobile {
            margin: 1rem;
            padding: 1rem;
        }

        h1 {
            font-size: 2rem;
            margin: 2rem 0 1rem;
        }

        h2 {
            margin: 0;
            font-size: 1.5rem;
        }
    }

    .project-grid:hover {
        background-color: $darkRed;

        h1,
        h2 {
            color: black;
        }
    }

    .project-image {
        width: 20rem;
    }
}

.about-section {
    margin: 7rem;

    @include mobile {
        margin: 0 2rem;
        padding: 2rem 0;
    }

    h1 {
        font-size: 3rem;
        margin-bottom: 1rem;
        color: $lightRed;

        @include tablet {
            font-size: 2rem;
        }
    }

    h2 {
        @include tablet {
            font-size: 1.2rem;
        }
    }

    .about-me {
        margin: 2rem 0;
    }

    p {
        color: white;
        font-family: 'Open Sans', sans-serif;
    }

    .qualifications {
        margin: 5rem 0;

        @include mobile {
            margin: 3rem 0;
        }
    }

    .about-text {
        margin-bottom: 2rem;

        .github {
            margin-top: 2rem;
        }

        .email {
            font-weight: bold;
            color: $darkRed;
            margin-bottom: 2rem;
        }
    }

    .skills {
        margin: 5rem 0;

        @include mobile {
            margin: 3rem 0;
        }
    }
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 2rem;

    img {
        width: 8rem;
    }

    p {
        color: white;
        font-family: 'Open Sans', sans-serif;
    }

    h2 {
        margin: 1rem 0 0;
    }

    .github {
        background-color: black;
    }
}

.github {
    background-color: $lightRed;
    font-weight: bold;
    margin-top: 0;
    color: white;
    width: 5rem;
    border-radius: 5px;
    text-align: center;
    padding: 0.5rem;
    cursor: pointer;
}

.github:hover {
    background-color: white;
    color: red;
}